In [51]:
data_combined=read.csv("data.combined.csv")
train=read.csv("train.csv")

In [52]:
head(data_combined[,c(2:4)+c(2)])

  Donations_Ebony Donations_Tokuyawa Donations_Odyssey
1               0                 18                 0
2               6                  0                 2
3               0                  0                 0
4               0                  0                 0
5               2                  3                 0
6               3                  8                 0

In [53]:
data_combined$newspapers=as.factor(data_combined$newspapers)
data_combined$Home=as.factor(data_combined$Home)
data_combined$Married=as.factor(data_combined$Married)
data_combined$Household_size=as.factor(data_combined$Household_size)

In [54]:
#

In [55]:
table(data_combined$Household_size)

    1     2     3     4     5     6     7     8
22693  4995 30154 23348   112    24     7     3

In [56]:
#Combining 4,5,6,7 & 8
data_combined$Household_size[data_combined$Household_size ==5]=4
data_combined$Household_size[data_combined$Household_size ==6]=4
data_combined$Household_size[data_combined$Household_size ==7]=4
data_combined$Household_size[data_combined$Household_size ==8]=4

In [57]:
table(data_combined$Household_size)

    1     2     3     4     5     6     7     8
22693  4995 30154 23494     0     0     0     0

In [58]:
#

In [59]:
#Married - Filling NA values with 1
data_combined$Married[data_combined$Married == -1]=1

#Home Indicator - Filling NA with 0
data_combined$Home[data_combined$Home == -1]=0

#Home Indic
data_combined$education[data_combined$education == '']= "Masters"

In [60]:
table(data_combined$education)

         Degree Diploma Masters Primary
      0   25147   14900   32480    8809

In [61]:
#

In [62]:
table(data_combined$newspapers)

    0     1     2     3     4     5     6     7     8     9    10    11
 1564    51   337   926  3209  9141 19357 23869 15939  5788  1066    89

In [63]:
#Combining 1,2,3
data_combined$newspapers[data_combined$newspapers ==1]=1
data_combined$newspapers[data_combined$newspapers ==2]=1
data_combined$newspapers[data_combined$newspapers ==3]=1

#Combining 10,11
data_combined$newspapers[data_combined$newspapers ==11]=10

In [64]:
table(data_combined$newspapers)

    0     1     2     3     4     5     6     7     8     9    10    11
 1564  1314     0     0  3209  9141 19357 23869 15939  5788  1155     0

In [65]:
#

In [66]:
# #Spliting Region
# data_combined$Previous_Region_1=substr(data_combined$previous_region,1,2)
# data_combined$Previous_Region_2=substr(data_combined$previous_region,3,3)

# data_combined$Current_Region_1=substr(data_combined$current_region,1,2)
# data_combined$Current_Region_2=substr(data_combined$current_region,3,3)


# data_combined$Previous_Region_1=as.factor(data_combined$Previous_Region_1)
# data_combined$Previous_Region_2=as.factor(data_combined$Previous_Region_2)

# data_combined$Current_Region_1=as.factor(data_combined$Current_Region_1)
# data_combined$Current_Region_2=as.factor(data_combined$Current_Region_2)

In [67]:
colnames(data_combined)

 [1] "Citizen_id"            "party_voted_past"      "Donations_Centaur"
 [4] "Donations_Ebony"       "Donations_Tokuyawa"    "Donations_Odyssey"
 [7] "Donations_Cosmos"      "Centaur_rallies_indi"  "Ebony_rallies_indi"
[10] "Tokuyawa_rallies_indi" "Odyssey_rallies_indi"  "Cosmos_rallies_indi"
[13] "Centaur_rallies_gr"    "Ebony_rallies_gr"      "Tokuyawa_rallies_gr"
[16] "Odyssey_rallies_gr"    "Cosmos_rallies_gr"     "fund_raisers_Centaur"
[19] "fund_raisers_Ebony"    "fund_raisers_Tokuyawa" "fund_raisers_Odyssey"
[22] "fund_raisers_Cosmos"   "volunteered_Centaur"   "volunteered_Ebony"
[25] "volunteered_Tokuyawa"  "volunteered_Odyssey"   "volunteered_Cosmos"
[28] "Household_size"        "Age"                   "Married"
[31] "Home"                  "education"             "newspapers"
[34] "previous_region"       "current_region"        "actual_vote"

In [68]:
####

In [69]:
# data_combined$new1 = ifelse(data_combined$volunteered_Centaur==15 & data_combined$volunteered_Ebony==0  &
#                             data_combined$volunteered_Tokuyawa==0 & data_combined$volunteered_Odyssey==0 &
#                             data_combined$volunteered_Cosmos==0 , "Centaur" , 0)

# data_combined$new2 = ifelse(data_combined$volunteered_Centaur==0 & data_combined$volunteered_Ebony==0  &
#                             data_combined$volunteered_Tokuyawa==0 & data_combined$volunteered_Odyssey==0 &
#                             data_combined$volunteered_Cosmos==15 , "Cosmos" , 0)

# data_combined$new3 = ifelse(data_combined$volunteered_Centaur==0 & data_combined$volunteered_Ebony==15  &
#                             data_combined$volunteered_Tokuyawa==0 & data_combined$volunteered_Odyssey==0 &
#                             data_combined$volunteered_Cosmos==0 , "Ebony" , 0)

# data_combined$new4 = ifelse(data_combined$volunteered_Centaur==0 & data_combined$volunteered_Ebony==0  &
#                             data_combined$volunteered_Tokuyawa==0 & data_combined$volunteered_Odyssey==15 &
#                             data_combined$volunteered_Cosmos==0 , "Odyssey" , 0)

# data_combined$new5 = ifelse(data_combined$volunteered_Centaur==0 & data_combined$volunteered_Ebony==0  &
#                             data_combined$volunteered_Tokuyawa==15 & data_combined$volunteered_Odyssey==0 &
#                             data_combined$volunteered_Cosmos==0 , "Tokugawa" , 0)

In [70]:
# #Combining 1,2,3
# data_combined$volunteered_Centaur_1[data_combined$volunteered_Centaur ==15]=1
# data_combined$volunteered_Centaur_1[data_combined$volunteered_Centaur>0 & data_combined$volunteered_Centaur<7 ]=2
# data_combined$volunteered_Centaur_1[data_combined$volunteered_Centaur>6 & data_combined$volunteered_Centaur<15 ]=3
# data_combined$volunteered_Centaur_1[data_combined$volunteered_Centaur ==0]=4

# #Combining 1,2,3
# data_combined$volunteered_Ebony_1[data_combined$volunteered_Ebony ==15]=1
# data_combined$volunteered_Ebony_1[data_combined$volunteered_Ebony>0 & data_combined$volunteered_Ebony<7 ]=2
# data_combined$volunteered_Ebony_1[data_combined$volunteered_Ebony>6 & data_combined$volunteered_Ebony<15 ]=3
# data_combined$volunteered_Ebony_1[data_combined$volunteered_Ebony ==0]=4

# #Combining 1,2,3
# data_combined$volunteered_Tokuyawa_1[data_combined$volunteered_Tokuyawa ==15]=1
# data_combined$volunteered_Tokuyawa_1[data_combined$volunteered_Tokuyawa>0 & data_combined$volunteered_Tokuyawa<7 ]=2
# data_combined$volunteered_Tokuyawa_1[data_combined$volunteered_Tokuyawa>6 & data_combined$volunteered_Tokuyawa<15 ]=3
# data_combined$volunteered_Tokuyawa_1[data_combined$volunteered_Tokuyawa ==0]=4

# #Combining 1,2,3
# data_combined$volunteered_Odyssey_1[data_combined$volunteered_Odyssey ==15]=1
# data_combined$volunteered_Odyssey_1[data_combined$volunteered_Odyssey>0 & data_combined$volunteered_Odyssey<7 ]=2
# data_combined$volunteered_Odyssey_1[data_combined$volunteered_Odyssey>6 & data_combined$volunteered_Odyssey<15 ]=3
# data_combined$volunteered_Odyssey_1[data_combined$volunteered_Odyssey ==0]=4

# #Combining 1,2,3
# data_combined$volunteered_Cosmos_1[data_combined$volunteered_Cosmos ==15]=1
# data_combined$volunteered_Cosmos_1[data_combined$volunteered_Cosmos>0 & data_combined$volunteered_Cosmos<7 ]=2
# data_combined$volunteered_Cosmos_1[data_combined$volunteered_Cosmos>6 & data_combined$volunteered_Cosmos<15 ]=3
# data_combined$volunteered_Cosmos_1[data_combined$volunteered_Cosmos ==0]=4

In [71]:
# data_combined$volunteered_Centaur_1=as.factor(data_combined$volunteered_Centaur_1)
# data_combined$volunteered_Ebony_1=as.factor(data_combined$volunteered_Ebony_1)
# data_combined$volunteered_Tokuyawa_1=as.factor(data_combined$volunteered_Tokuyawa_1)
# data_combined$volunteered_Odyssey_1=as.factor(data_combined$volunteered_Odyssey_1)
# data_combined$volunteered_Cosmos_1=as.factor(data_combined$volunteered_Cosmos_1)

# #Creating Dummies
# data_combined=cbind(data_combined,model.matrix( ~ volunteered_Centaur_1 - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ volunteered_Ebony_1 - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ volunteered_Tokuyawa_1 - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ volunteered_Odyssey_1 - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ volunteered_Cosmos_1 - 1, data=data_combined ))

In [72]:
# #Previous Vote
# data_combined$Previous_Centaur=ifelse(data_combined$party_voted_past=="Centaur",1,0)
# data_combined$Previous_Ebony=ifelse(data_combined$party_voted_past=="Ebony",1,0)
# data_combined$Previous_Tokuyawa=ifelse(data_combined$party_voted_past=="Tokugawa",1,0)
# data_combined$Previous_Odyssey=ifelse(data_combined$party_voted_past=="Odyssey",1,0)
# data_combined$Previous_Cosmos=ifelse(data_combined$party_voted_past=="Cosmos",1,0)

In [73]:
# data_combined$new1=as.factor(data_combined$new1)
# data_combined$new2=as.factor(data_combined$new2)
# data_combined$new3=as.factor(data_combined$new3)
# data_combined$new4=as.factor(data_combined$new4)
# data_combined$new5=as.factor(data_combined$new5)

In [74]:
####

In [75]:
#Replacing region with Average and sd

In [76]:
head(data_combined[c(23:27)])

  volunteered_Centaur volunteered_Ebony volunteered_Tokuyawa
1                   0                 0                   15
2                   5                10                    0
3                   0                 0                    0
4                  15                15                    0
5                  10                15                   15
6                   0                15                   15
  volunteered_Odyssey volunteered_Cosmos
1                   0                  0
2                  15                  0
3                   0                 15
4                   0                  0
5                   0                  7
6                   0                  0

In [77]:
# a=sqrt(4/5)

# data_combined$sd_Donations = (apply(data_combined[,c(3:7)],1,sd))*a
# data_combined$sd_Volunteered = (apply(data_combined[,c(8:12)],1,sd))*a
# data_combined$sd_Rallies_Indi = (apply(data_combined[,c(13:18)],1,sd))*a
# data_combined$sd_Rallies_Gr = (apply(data_combined[,c(18:22)],1,sd))*a
# data_combined$sd_Fund_Raisers = (apply(data_combined[,c(23:27)],1,sd))*a

In [78]:
head(data_combined)

  Citizen_id party_voted_past Donations_Centaur Donations_Ebony
1         C1         Tokugawa                 0               0
2         C2            Ebony                 2               6
3         C3           Cosmos                 0               0
4         C4          Centaur                 2               0
5         C5          Centaur                 9               2
6         C6         Tokugawa                 0               3
  Donations_Tokuyawa Donations_Odyssey Donations_Cosmos Centaur_rallies_indi
1                 18                 0                0                    0
2                  0                 2                0                    2
3                  0                 0                6                    0
4                  0                 0                0                    2
5                  3                 0                2                    1
6                  8                 0                0                    0
  Ebony_rallies_indi Tokuyawa_rallies_indi ... volunteered_Cosmos
1                  0                     9 ...                  0
2                  5                     0 ...                  0
3                  0                     0 ...                 15
4                  0                     0 ...                  0
5                  0                     1 ...                  7
6                  1                     1 ...                  0
  Household_size   Age Married Home education newspapers previous_region
1              3 25-35       1    0    Degree          6             AEC
2              3 18-24       1    0   Masters          5             AEC
3              1 46-55       1    1   Masters          6             AMS
4              1 36-45       1    0    Degree          6             ACL
5              4 25-35       1    0   Primary          7             ARK
6              3 46-55       1    1   Masters          8             ANQ
  current_region actual_vote
1            AEC    Tokugawa
2            AEC       Ebony
3            AMS      Cosmos
4            ANQ     Centaur
5            ARK     Centaur
6            ANQ    Tokugawa

In [79]:
# # #do not run it 2 times
# # #Donations

# Total_Donations    =  data_combined$Donations_Centaur + data_combined$Donations_Ebony + data_combined$Donations_Tokuyawa + data_combined$Donations_Odyssey +data_combined$Donations_Cosmos                                 

# data_combined$Donations_Centaur  =  (data_combined$Donations_Centaur*data_combined$sd_Donations)  / Total_Donations
# data_combined$Donations_Ebony =  (data_combined$Donations_Ebony*data_combined$sd_Donations)  / Total_Donations
# data_combined$Donations_Tokuyawa =  (data_combined$Donations_Tokuyawa*data_combined$sd_Donations)  / Total_Donations
# data_combined$Donations_Odyssey  =  (data_combined$Donations_Odyssey*data_combined$sd_Donations)  / Total_Donations
# data_combined$Donations_Cosmos   =  (data_combined$Donations_Cosmos*data_combined$sd_Donations)  / Total_Donations

# # #Volunteered
# # Total_volunteered    =  data_combined$volunteered_Centaur + data_combined$volunteered_Ebony + data_combined$volunteered_Tokuyawa + data_combined$volunteered_Odyssey +data_combined$volunteered_Cosmos                                 

# # data_combined$volunteered_Centaur  =  (data_combined$volunteered_Centaur*data_combined$sd_Volunteered)  / Total_volunteered
# # data_combined$volunteered_Ebony    =  (data_combined$volunteered_Ebony*data_combined$sd_Volunteered)  / Total_volunteered
# # data_combined$volunteered_Tokuyawa =  (data_combined$volunteered_Tokuyawa*data_combined$sd_Volunteered)  / Total_volunteered
# # data_combined$volunteered_Odyssey  =  (data_combined$volunteered_Odyssey*data_combined$sd_Volunteered)  / Total_volunteered
# # data_combined$volunteered_Cosmos   =  (data_combined$volunteered_Cosmos*data_combined$sd_Volunteered)  / Total_volunteered

# # #Rallies Indi
# # Total_Rallies_Indi    =  data_combined$Centaur_rallies_indi + data_combined$Ebony_rallies_indi + data_combined$Tokuyawa_rallies_indi + data_combined$Odyssey_rallies_indi +data_combined$Cosmos_rallies_indi                                 

# # data_combined$Centaur_rallies_indi  =  (data_combined$Centaur_rallies_indi*data_combined$sd_Rallies_Indi)  / Total_Rallies_Indi
# # data_combined$Ebony_rallies_indi    =  (data_combined$Ebony_rallies_indi*data_combined$sd_Rallies_Indi)  / Total_Rallies_Indi
# # data_combined$Tokuyawa_rallies_indi =  (data_combined$Tokuyawa_rallies_indi*data_combined$sd_Rallies_Indi)  / Total_Rallies_Indi
# # data_combined$Odyssey_rallies_indi  =  (data_combined$Odyssey_rallies_indi*data_combined$sd_Rallies_Indi)  / Total_Rallies_Indi
# # data_combined$Cosmos_rallies_indi   =  (data_combined$Cosmos_rallies_indi*data_combined$sd_Rallies_Indi)  / Total_Rallies_Indi

# # #Rallies Group
# # Total_Rallies_gr    =  data_combined$Centaur_rallies_gr + data_combined$Ebony_rallies_gr + data_combined$Tokuyawa_rallies_gr + data_combined$Odyssey_rallies_gr +data_combined$Cosmos_rallies_gr                                 

# # data_combined$Centaur_rallies_gr  =  (data_combined$Centaur_rallies_gr*data_combined$sd_Rallies_Gr)  / Total_Rallies_gr
# # data_combined$Ebony_rallies_gr    =  (data_combined$Ebony_rallies_gr*data_combined$sd_Rallies_Gr)  / Total_Rallies_gr
# # data_combined$Tokuyawa_rallies_gr =  (data_combined$Tokuyawa_rallies_gr*data_combined$sd_Rallies_Gr)  / Total_Rallies_gr
# # data_combined$Odyssey_rallies_gr  =  (data_combined$Odyssey_rallies_gr*data_combined$sd_Rallies_Gr)  / Total_Rallies_gr
# # data_combined$Cosmos_rallies_gr   =  (data_combined$Cosmos_rallies_gr*data_combined$sd_Rallies_Gr)  / Total_Rallies_gr

# # #Fund Raisers
# # Total_Fund_Raisers  =  data_combined$fund_raisers_Centaur + data_combined$fund_raisers_Ebony + data_combined$fund_raisers_Tokuyawa + data_combined$fund_raisers_Odyssey +data_combined$fund_raisers_Cosmos                                 

# # data_combined$fund_raisers_Centaur  =  (data_combined$fund_raisers_Centaur*data_combined$sd_Fund_Raisers)  / Total_Fund_Raisers
# # data_combined$fund_raisers_Ebony    =  (data_combined$fund_raisers_Ebony*data_combined$sd_Fund_Raisers)  / Total_Fund_Raisers
# # data_combined$fund_raisers_Tokuyawa =  (data_combined$fund_raisers_Tokuyawa*data_combined$sd_Fund_Raisers)  / Total_Fund_Raisers
# # data_combined$fund_raisers_Odyssey  =  (data_combined$fund_raisers_Odyssey*data_combined$sd_Fund_Raisers)  / Total_Fund_Raisers
# # data_combined$fund_raisers_Cosmos   =  (data_combined$fund_raisers_Cosmos*data_combined$sd_Fund_Raisers)  / Total_Fund_Raisers

# # #To remove NaN Values
# # data_combined[is.na(data_combined)]=0

In [80]:
# #do not run it 2 times
# #Donations
# Total_Donations    =  data_combined$Donations_Centaur + data_combined$Donations_Ebony + data_combined$Donations_Tokuyawa + data_combined$Donations_Odyssey +data_combined$Donations_Cosmos                                 

# data_combined$Donations_Centaur  =  (data_combined$Donations_Centaur*data_combined$Donations_Centaur)  / Total_Donations
# data_combined$Donations_Ebony    =  (data_combined$Donations_Ebony*data_combined$Donations_Ebony)  / Total_Donations
# data_combined$Donations_Tokuyawa =  (data_combined$Donations_Tokuyawa*data_combined$Donations_Tokuyawa)  / Total_Donations
# data_combined$Donations_Odyssey  =  (data_combined$Donations_Odyssey*data_combined$Donations_Odyssey)  / Total_Donations
# data_combined$Donations_Cosmos   =  (data_combined$Donations_Cosmos*data_combined$Donations_Cosmos)  / Total_Donations

# #Volunteered
# Total_volunteered    =  data_combined$volunteered_Centaur + data_combined$volunteered_Ebony + data_combined$volunteered_Tokuyawa + data_combined$volunteered_Odyssey +data_combined$volunteered_Cosmos                                 

# data_combined$volunteered_Centaur  =  (data_combined$volunteered_Centaur*data_combined$volunteered_Centaur)  / Total_volunteered
# data_combined$volunteered_Ebony    =  (data_combined$volunteered_Ebony*data_combined$volunteered_Ebony)  / Total_volunteered
# data_combined$volunteered_Tokuyawa =  (data_combined$volunteered_Tokuyawa*data_combined$volunteered_Tokuyawa)  / Total_volunteered
# data_combined$volunteered_Odyssey  =  (data_combined$volunteered_Odyssey*data_combined$volunteered_Odyssey)  / Total_volunteered
# data_combined$volunteered_Cosmos   =  (data_combined$volunteered_Cosmos*data_combined$volunteered_Cosmos)  / Total_volunteered

# #Rallies Indi
# Total_Rallies_Indi    =  data_combined$Centaur_rallies_indi + data_combined$Ebony_rallies_indi + data_combined$Tokuyawa_rallies_indi + data_combined$Odyssey_rallies_indi +data_combined$Cosmos_rallies_indi                                 

# data_combined$Centaur_rallies_indi  =  (data_combined$Centaur_rallies_indi*data_combined$Centaur_rallies_indi)  / Total_Rallies_Indi
# data_combined$Ebony_rallies_indi    =  (data_combined$Ebony_rallies_indi*data_combined$Ebony_rallies_indi)  / Total_Rallies_Indi
# data_combined$Tokuyawa_rallies_indi =  (data_combined$Tokuyawa_rallies_indi*data_combined$Tokuyawa_rallies_indi)  / Total_Rallies_Indi
# data_combined$Odyssey_rallies_indi  =  (data_combined$Odyssey_rallies_indi*data_combined$Odyssey_rallies_indi)  / Total_Rallies_Indi
# data_combined$Cosmos_rallies_indi   =  (data_combined$Cosmos_rallies_indi*data_combined$Cosmos_rallies_indi)  / Total_Rallies_Indi

# #Rallies Group
# Total_Rallies_gr    =  data_combined$Centaur_rallies_gr + data_combined$Ebony_rallies_gr + data_combined$Tokuyawa_rallies_gr + data_combined$Odyssey_rallies_gr +data_combined$Cosmos_rallies_gr                                 

# data_combined$Centaur_rallies_gr  =  (data_combined$Centaur_rallies_gr*data_combined$Centaur_rallies_gr)  / Total_Rallies_gr
# data_combined$Ebony_rallies_gr    =  (data_combined$Ebony_rallies_gr*data_combined$Ebony_rallies_gr)  / Total_Rallies_gr
# data_combined$Tokuyawa_rallies_gr =  (data_combined$Tokuyawa_rallies_gr*data_combined$Tokuyawa_rallies_gr)  / Total_Rallies_gr
# data_combined$Odyssey_rallies_gr  =  (data_combined$Odyssey_rallies_gr*data_combined$Odyssey_rallies_gr)  / Total_Rallies_gr
# data_combined$Cosmos_rallies_gr   =  (data_combined$Cosmos_rallies_gr*data_combined$Cosmos_rallies_gr)  / Total_Rallies_gr

# #Fund Raisers
# Total_Fund_Raisers  =  data_combined$fund_raisers_Centaur + data_combined$fund_raisers_Ebony + data_combined$fund_raisers_Tokuyawa + data_combined$fund_raisers_Odyssey +data_combined$fund_raisers_Cosmos                                 

# data_combined$fund_raisers_Centaur  =  (data_combined$fund_raisers_Centaur*data_combined$fund_raisers_Centaur)  / Total_Fund_Raisers
# data_combined$fund_raisers_Ebony    =  (data_combined$fund_raisers_Ebony*data_combined$fund_raisers_Ebony)  / Total_Fund_Raisers
# data_combined$fund_raisers_Tokuyawa =  (data_combined$fund_raisers_Tokuyawa*data_combined$fund_raisers_Tokuyawa)  / Total_Fund_Raisers
# data_combined$fund_raisers_Odyssey  =  (data_combined$fund_raisers_Odyssey*data_combined$fund_raisers_Odyssey)  / Total_Fund_Raisers
# data_combined$fund_raisers_Cosmos   =  (data_combined$fund_raisers_Cosmos*data_combined$fund_raisers_Cosmos)  / Total_Fund_Raisers

# #To remove NaN Values
# data_combined[is.na(data_combined)]=0

In [81]:
# #do not run it 2 times
# #Donations
# Total_Donations    =  (data_combined$Donations_Centaur + data_combined$Donations_Ebony + data_combined$Donations_Tokuyawa + data_combined$Donations_Odyssey +data_combined$Donations_Cosmos )/5

# data_combined$Donations_Centaur  =  data_combined$Donations_Centaur -  Total_Donations
# data_combined$Donations_Ebony    =  data_combined$Donations_Ebony   -  Total_Donations
# data_combined$Donations_Tokuyawa =  data_combined$Donations_Tokuyawa-  Total_Donations
# data_combined$Donations_Odyssey  =  data_combined$Donations_Odyssey -  Total_Donations
# data_combined$Donations_Cosmos   =  data_combined$Donations_Cosmos  -  Total_Donations

# #Volunteered
# Total_volunteered    =  (data_combined$volunteered_Centaur + data_combined$volunteered_Ebony + data_combined$volunteered_Tokuyawa + data_combined$volunteered_Odyssey +data_combined$volunteered_Cosmos     )/5                            

# data_combined$volunteered_Centaur  =  data_combined$volunteered_Centaur  - Total_volunteered
# data_combined$volunteered_Ebony    =  data_combined$volunteered_Ebony    - Total_volunteered
# data_combined$volunteered_Tokuyawa =  data_combined$volunteered_Tokuyawa - Total_volunteered
# data_combined$volunteered_Odyssey  =  data_combined$volunteered_Odyssey  - Total_volunteered
# data_combined$volunteered_Cosmos   =  data_combined$volunteered_Cosmos   - Total_volunteered

# # #Rallies Indi
# Total_Rallies_Indi    =  (data_combined$Centaur_rallies_indi + data_combined$Ebony_rallies_indi + data_combined$Tokuyawa_rallies_indi + data_combined$Odyssey_rallies_indi +data_combined$Cosmos_rallies_indi   )/5                              

# data_combined$Centaur_rallies_indi  =  data_combined$Centaur_rallies_indi - Total_Rallies_Indi
# data_combined$Ebony_rallies_indi    =  data_combined$Ebony_rallies_indi   - Total_Rallies_Indi
# data_combined$Tokuyawa_rallies_indi =  data_combined$Tokuyawa_rallies_indi- Total_Rallies_Indi
# data_combined$Odyssey_rallies_indi  =  data_combined$Odyssey_rallies_indi - Total_Rallies_Indi
# data_combined$Cosmos_rallies_indi   =  data_combined$Cosmos_rallies_indi  - Total_Rallies_Indi

# #Rallies Group
# Total_Rallies_gr    =  (data_combined$Centaur_rallies_gr + data_combined$Ebony_rallies_gr + data_combined$Tokuyawa_rallies_gr + data_combined$Odyssey_rallies_gr +data_combined$Cosmos_rallies_gr    )/5                             

# data_combined$Centaur_rallies_gr  =  data_combined$Centaur_rallies_gr - Total_Rallies_gr
# data_combined$Ebony_rallies_gr    =  data_combined$Ebony_rallies_gr   - Total_Rallies_gr
# data_combined$Tokuyawa_rallies_gr =  data_combined$Tokuyawa_rallies_gr -Total_Rallies_gr
# data_combined$Odyssey_rallies_gr  =  data_combined$Odyssey_rallies_gr -Total_Rallies_gr
# data_combined$Cosmos_rallies_gr   =  data_combined$Cosmos_rallies_gr - Total_Rallies_gr

# #Fund Raisers
# Total_Fund_Raisers  =  (data_combined$fund_raisers_Centaur + data_combined$fund_raisers_Ebony + data_combined$fund_raisers_Tokuyawa + data_combined$fund_raisers_Odyssey +data_combined$fund_raisers_Cosmos      )/5                           

# data_combined$fund_raisers_Centaur  =  data_combined$fund_raisers_Centaur -Total_Fund_Raisers
# data_combined$fund_raisers_Ebony    =  data_combined$fund_raisers_Ebony -Total_Fund_Raisers
# data_combined$fund_raisers_Tokuyawa =  data_combined$fund_raisers_Tokuyawa -Total_Fund_Raisers
# data_combined$fund_raisers_Odyssey  =  data_combined$fund_raisers_Odyssey -Total_Fund_Raisers
# data_combined$fund_raisers_Cosmos   =  data_combined$fund_raisers_Cosmos - Total_Fund_Raisers

# #To remove NaN Values
# data_combined[is.na(data_combined)]=0

In [82]:
#Region count
data_combined$Region_Change_Current <- ave(as.numeric(data_combined$actual_vote), data_combined$current_region,  FUN = mean)
data_combined$Region_Change_Previous <- ave(as.numeric(data_combined$actual_vote), data_combined$previous_region,  FUN = mean)

data_combined$Region_Change_Current2 <- ave(as.numeric(data_combined$actual_vote), data_combined$current_region,  FUN = sd)
data_combined$Region_Change_Previous2 <- ave(as.numeric(data_combined$actual_vote), data_combined$previous_region,  FUN = sd)

# #as.numeric(dt$school), dt$school, FUN = length

In [83]:
# data_combined$DC <- ave(data_combined$Previous_Centaur, data_combined$Donations_Centaur,  FUN = sum)*100/ave(data_combined$Donations_Centaur, data_combined$Donations_Centaur,  FUN = length)
# data_combined$DE <- ave(data_combined$Previous_Ebony, data_combined$Donations_Ebony,  FUN = sum)*100/ave(data_combined$Donations_Ebony, data_combined$Donations_Ebony,  FUN = length)
# data_combined$DT <- ave(data_combined$Previous_Tokuyawa, data_combined$Donations_Tokuyawa,  FUN = sum)*100/ave(data_combined$Donations_Tokuyawa, data_combined$Donations_Tokuyawa,  FUN = length)
# data_combined$DO <- ave(data_combined$Previous_Odyssey, data_combined$Donations_Odyssey,  FUN = sum)*100/ave(data_combined$Donations_Odyssey, data_combined$Donations_Odyssey,  FUN = length)
# data_combined$DCC <- ave(data_combined$Previous_Cosmos, data_combined$Donations_Cosmos,  FUN = sum)*100/ave(data_combined$Donations_Cosmos, data_combined$Donations_Cosmos,  FUN = length)

In [84]:
ncol(data_combined)
head(data_combined)

[1] 40

  Citizen_id party_voted_past Donations_Centaur Donations_Ebony
1         C1         Tokugawa                 0               0
2         C2            Ebony                 2               6
3         C3           Cosmos                 0               0
4         C4          Centaur                 2               0
5         C5          Centaur                 9               2
6         C6         Tokugawa                 0               3
  Donations_Tokuyawa Donations_Odyssey Donations_Cosmos Centaur_rallies_indi
1                 18                 0                0                    0
2                  0                 2                0                    2
3                  0                 0                6                    0
4                  0                 0                0                    2
5                  3                 0                2                    1
6                  8                 0                0                    0
  Ebony_rallies_indi Tokuyawa_rallies_indi ... Home education newspapers
1                  0                     9 ...    0    Degree          6
2                  5                     0 ...    0   Masters          5
3                  0                     0 ...    1   Masters          6
4                  0                     0 ...    0    Degree          6
5                  0                     1 ...    0   Primary          7
6                  1                     1 ...    1   Masters          8
  previous_region current_region actual_vote Region_Change_Current
1             AEC            AEC    Tokugawa              4.249171
2             AEC            AEC       Ebony              4.249171
3             AMS            AMS      Cosmos              2.720783
4             ACL            ANQ     Centaur              4.085681
5             ARK            ARK     Centaur              2.207715
6             ANQ            ANQ    Tokugawa              4.085681
  Region_Change_Previous Region_Change_Current2 Region_Change_Previous2
1               4.254679               1.742247                1.734937
2               4.254679               1.742247                1.734937
3               2.717537               1.153948                1.146006
4               3.372493               1.735490                1.598694
5               2.157085               1.603596                1.566341
6               4.075438               1.735490                1.751472

In [85]:
table(data_combined$Donations_Centaur)

    0     1     2     3     4     5     6     7     8     9    10    11    12
45648  8469  6373  3965  3327  2413  2004  1529  1330  1066   913   739   672
   13    14    15    16    17    18    19    20    21
  533   446   393   342   329   246   226   209   164

In [86]:
a=subset(data_combined,party_voted_past=="Centaur")

In [87]:
table(a$Donations_Centaur)

   0    1    2    3    4    5    6    7    8    9   10   11   12   13   14   15
 161 1199 1945 2039 1919 1664 1457 1219 1079  899  787  661  614  475  413  372
  16   17   18   19   20   21
 319  313  238  216  203  157

In [88]:
# do.call(pmax, df[2:26])
data_combined$MaxDonation=do.call(pmax,data_combined[,3:7])

data_combined$Max_Don[data_combined$Donations_Centaur == data_combined$MaxDonation]="Centaur"
data_combined$Max_Don[data_combined$Donations_Ebony == data_combined$MaxDonation]="Ebony"
data_combined$Max_Don[data_combined$Donations_Tokuyawa == data_combined$MaxDonation]="Tokuyawa"
data_combined$Max_Don[data_combined$Donations_Odyssey == data_combined$MaxDonation]="Odyssey"
data_combined$Max_Don[data_combined$Donations_Cosmos == data_combined$MaxDonation]="Cosmos"

data_combined$MaxIndividual=do.call(pmax,data_combined[,8:12])

data_combined$MaxIndi[data_combined$Centaur_rallies_indi == data_combined$MaxIndividual]="Centaur"
data_combined$MaxIndi[data_combined$Ebony_rallies_indi == data_combined$MaxIndividual]="Ebony"
data_combined$MaxIndi[data_combined$Tokuyawa_rallies_indi == data_combined$MaxIndividual]="Tokuyawa"
data_combined$MaxIndi[data_combined$Odyssey_rallies_indi == data_combined$MaxIndividual]="Odyssey"
data_combined$MaxIndi[data_combined$Cosmos_rallies_indi == data_combined$MaxIndividual]="Cosmos"

data_combined$MaxGroup=do.call(pmax,data_combined[,13:17])

data_combined$MaxGr[data_combined$Centaur_rallies_gr == data_combined$MaxGroup]="Centaur"
data_combined$MaxGr[data_combined$Ebony_rallies_gr == data_combined$MaxGroup]="Ebony"
data_combined$MaxGr[data_combined$Tokuyawa_rallies_gr == data_combined$MaxGroup]="Tokuyawa"
data_combined$MaxGr[data_combined$Odyssey_rallies_gr == data_combined$MaxGroup]="Odyssey"
data_combined$MaxGr[data_combined$Cosmos_rallies_gr == data_combined$MaxGroup]="Cosmos"

data_combined$MaxFundRaisers=do.call(pmax,data_combined[,18:22])

data_combined$MaxFR[data_combined$fund_raisers_Centaur == data_combined$MaxFundRaisers]="Centaur"
data_combined$MaxFR[data_combined$fund_raisers_Ebony == data_combined$MaxFundRaisers]="Ebony"
data_combined$MaxFR[data_combined$fund_raisers_Tokuyawa == data_combined$MaxFundRaisers]="Tokuyawa"
data_combined$MaxFR[data_combined$fund_raisers_Odyssey == data_combined$MaxFundRaisers]="Odyssey"
data_combined$MaxFR[data_combined$fund_raisers_Cosmos == data_combined$MaxFundRaisers]="Cosmos"

data_combined$MaxVolunteer=do.call(pmax,data_combined[,23:27])

data_combined$MaxVol[data_combined$volunteered_Centaur == data_combined$MaxVolunteer]="Centaur"
data_combined$MaxVol[data_combined$volunteered_Ebony == data_combined$MaxVolunteer]="Ebony"
data_combined$MaxVol[data_combined$volunteered_Tokuyawa == data_combined$MaxVolunteer]="Tokuyawa"
data_combined$MaxVol[data_combined$volunteered_Odyssey == data_combined$MaxVolunteer]="Odyssey"
data_combined$MaxVol[data_combined$volunteered_Cosmos == data_combined$MaxVolunteer]="Cosmos"

In [89]:
data_combined$MinDonation=do.call(pmin,data_combined[,3:7])

data_combined$Min_Don[data_combined$Donations_Centaur == data_combined$MinDonation]="Centaur"
data_combined$Min_Don[data_combined$Donations_Ebony == data_combined$MinDonation]="Ebony"
data_combined$Min_Don[data_combined$Donations_Tokuyawa == data_combined$MinDonation]="Tokuyawa"
data_combined$Min_Don[data_combined$Donations_Odyssey == data_combined$MinDonation]="Odyssey"
data_combined$Min_Don[data_combined$Donations_Cosmos == data_combined$MinDonation]="Cosmos"

data_combined$TotalDon= data_combined$Donations_Centaur + data_combined$Donations_Ebony +
                        data_combined$Donations_Tokuyawa + data_combined$Donations_Odyssey + data_combined$Donations_Cosmos

In [102]:
head(data_combined)

  Citizen_id party_voted_past Donations_Centaur Donations_Ebony
1         C1         Tokugawa                 0               0
2         C2            Ebony                 2               6
3         C3           Cosmos                 0               0
4         C4          Centaur                 2               0
5         C5          Centaur                 9               2
6         C6         Tokugawa                 0               3
  Donations_Tokuyawa Donations_Odyssey Donations_Cosmos Centaur_rallies_indi
1                 18                 0                0                    0
2                  0                 2                0                    2
3                  0                 0                6                    0
4                  0                 0                0                    2
5                  3                 0                2                    1
6                  8                 0                0                    0
  Ebony_rallies_indi Tokuyawa_rallies_indi ... Var3_part1 Var3_part2 Var3_part3
1                  0                     9 ...          1          0          0
2                  5                     0 ...          0          1          0
3                  0                     0 ...          1          0          0
4                  0                     0 ...          1          0          0
5                  0                     1 ...          1          0          0
6                  1                     1 ...          1          0          0
  Var4_part1 Var4_part2 Var4_part3 Var5_part1 Var5_part2 Var5_part3 final
1          0          0          1          1          0          0     0
2          1          0          0          1          0          0     0
3          1          0          0          0          1          0     0
4          1          0          0          1          0          0     0
5          0          1          0          0          1          0     0
6          0          1          0          1          0          0     0

In [101]:
data_combined$final[data_combined$Min_Don == data_combined$actual_vote & data_combined$TotalDon > 0]=1
data_combined$final[data_combined$Min_Don != data_combined$actual_vote]=0

In [105]:
table(data_combined$final)

    0     1
79507  1829

In [107]:
nrow(train)

[1] 60129

In [93]:
# #Creating Dummies
# data_combined=cbind(data_combined,model.matrix( ~ Household_size - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ Age - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ newspapers - 1, data=data_combined ))

In [94]:
#Creating Parts of Current_Region_1

data_combined$Var1_part[data_combined$Donations_Centaur == 0 ] = 1
data_combined$Var1_part[data_combined$Donations_Centaur >0 &   data_combined$Donations_Centaur <10 ] = 2
data_combined$Var1_part[data_combined$Donations_Centaur >=10 &   data_combined$Donations_Centaur <=21 ] = 3

data_combined$Var2_part[data_combined$Donations_Ebony ==0 ] = 1
data_combined$Var2_part[data_combined$Donations_Ebony >0 &   data_combined$Donations_Ebony <10 ] = 2
data_combined$Var2_part[data_combined$Donations_Ebony >=10 &   data_combined$Donations_Ebony <=21 ] = 3

data_combined$Var3_part[ data_combined$Donations_Odyssey ==0 ] = 1
data_combined$Var3_part[data_combined$Donations_Odyssey >0 &   data_combined$Donations_Odyssey <10 ] = 2
data_combined$Var3_part[data_combined$Donations_Odyssey >=10 &   data_combined$Donations_Odyssey <=21 ] = 3

data_combined$Var4_part[data_combined$Donations_Tokuyawa ==0 ] = 1
data_combined$Var4_part[data_combined$Donations_Tokuyawa >0 &   data_combined$Donations_Tokuyawa <10 ] = 2
data_combined$Var4_part[data_combined$Donations_Tokuyawa >=10 &   data_combined$Donations_Tokuyawa <=21 ] = 3

data_combined$Var5_part[data_combined$Donations_Cosmos ==0 ] = 1
data_combined$Var5_part[data_combined$Donations_Cosmos >0 &   data_combined$Donations_Cosmos <10 ] = 2
data_combined$Var5_part[data_combined$Donations_Cosmos >=10 &   data_combined$Donations_Cosmos <=21 ] = 3

In [95]:
table(data_combined$Var1_part)

    1     2     3
45648 30476  5212

In [96]:
data_combined$Var1_part=as.factor(data_combined$Var1_part)
data_combined$Var2_part=as.factor(data_combined$Var2_part)
data_combined$Var3_part=as.factor(data_combined$Var3_part)
data_combined$Var4_part=as.factor(data_combined$Var4_part)
data_combined$Var5_part=as.factor(data_combined$Var5_part)

#Creating Dummies
data_combined=cbind(data_combined,model.matrix( ~ Var1_part - 1, data=data_combined ))
data_combined=cbind(data_combined,model.matrix( ~ Var2_part - 1, data=data_combined ))
data_combined=cbind(data_combined,model.matrix( ~ Var3_part - 1, data=data_combined ))
data_combined=cbind(data_combined,model.matrix( ~ Var4_part - 1, data=data_combined ))
data_combined=cbind(data_combined,model.matrix( ~ Var5_part - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ Household_size - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ Age - 1, data=data_combined ))
# data_combined=cbind(data_combined,model.matrix( ~ newspapers - 1, data=data_combined ))

In [97]:
str(data_combined)

'data.frame':	81336 obs. of  73 variables:
 $ Citizen_id             : Factor w/ 81336 levels "C1","C10","C100",..: 1 11112 22223 33334 44445 55556 56797 67907 79018 2 ...
 $ party_voted_past       : Factor w/ 5 levels "Centaur","Cosmos",..: 5 3 2 1 1 5 2 2 1 3 ...
 $ Donations_Centaur      : int  0 2 0 2 9 0 0 0 13 8 ...
 $ Donations_Ebony        : int  0 6 0 0 2 3 3 0 0 0 ...
 $ Donations_Tokuyawa     : int  18 0 0 0 3 8 1 2 0 0 ...
 $ Donations_Odyssey      : int  0 2 0 0 0 0 0 0 3 0 ...
 $ Donations_Cosmos       : int  0 0 6 0 2 0 4 3 0 0 ...
 $ Centaur_rallies_indi   : int  0 2 0 2 1 0 0 0 5 2 ...
 $ Ebony_rallies_indi     : int  0 5 0 0 0 1 1 0 0 0 ...
 $ Tokuyawa_rallies_indi  : int  9 0 0 0 1 1 0 1 0 0 ...
 $ Odyssey_rallies_indi   : int  0 2 0 0 0 0 0 0 1 0 ...
 $ Cosmos_rallies_indi    : int  0 0 6 0 0 0 0 0 0 0 ...
 $ Centaur_rallies_gr     : int  0 0 0 0 2 0 0 0 4 3 ...
 $ Ebony_rallies_gr       : int  0 0 0 0 0 0 1 0 0 0 ...
 $ Tokuyawa_rallies_gr    : int  3 0 0 0 0 1 0 0 0 0 ...
 $ Odyssey_rallies_gr     : int  0 0 0 0 0 0 0 0 1 0 ...
 $ Cosmos_rallies_gr      : int  0 0 0 0 0 0 1 1 0 0 ...
 $ fund_raisers_Centaur   : int  0 0 0 0 2 0 0 0 0 0 ...
 $ fund_raisers_Ebony     : int  0 1 0 0 1 1 0 0 0 0 ...
 $ fund_raisers_Tokuyawa  : int  2 0 0 0 2 2 1 1 0 0 ...
 $ fund_raisers_Odyssey   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ fund_raisers_Cosmos    : int  0 0 0 0 1 0 0 0 0 0 ...
 $ volunteered_Centaur    : int  0 5 0 15 10 0 0 0 15 15 ...
 $ volunteered_Ebony      : int  0 10 0 15 15 15 5 0 0 15 ...
 $ volunteered_Tokuyawa   : int  15 0 0 0 15 15 0 15 0 0 ...
 $ volunteered_Odyssey    : int  0 15 0 0 0 0 0 0 15 0 ...
 $ volunteered_Cosmos     : int  0 0 15 0 7 0 3 15 0 0 ...
 $ Household_size         : Factor w/ 8 levels "1","2","3","4",..: 3 3 1 1 4 3 2 1 1 4 ...
 $ Age                    : Factor w/ 5 levels "18-24","25-35",..: 2 1 4 3 2 4 2 2 1 4 ...
 $ Married                : Factor w/ 3 levels "-1","0","1": 3 3 3 3 3 3 3 3 2 2 ...
 $ Home                   : Factor w/ 3 levels "-1","0","1": 2 2 3 2 2 3 2 2 2 3 ...
 $ education              : Factor w/ 5 levels "","Degree","Diploma",..: 2 4 4 2 5 4 3 3 2 5 ...
 $ newspapers             : Factor w/ 12 levels "0","1","2","3",..: 7 6 7 7 8 9 8 7 6 7 ...
 $ previous_region        : Factor w/ 488 levels "AAB","AAC","AAE",..: 66 66 222 39 306 240 376 156 66 39 ...
 $ current_region         : Factor w/ 486 levels "AAB","AAC","AAE",..: 68 68 231 248 310 248 378 248 134 397 ...
 $ actual_vote            : Factor w/ 6 levels "Centaur","Cosmos",..: 6 3 2 1 1 6 2 6 1 1 ...
 $ Region_Change_Current  : num  4.25 4.25 2.72 4.09 2.21 ...
 $ Region_Change_Previous : num  4.25 4.25 2.72 3.37 2.16 ...
 $ Region_Change_Current2 : num  1.74 1.74 1.15 1.74 1.6 ...
 $ Region_Change_Previous2: num  1.73 1.73 1.15 1.6 1.57 ...
 $ MaxDonation            : int  18 6 6 2 9 8 4 3 13 8 ...
 $ Max_Don                : chr  "Tokuyawa" "Ebony" "Cosmos" "Centaur" ...
 $ MaxIndividual          : int  9 5 6 2 1 1 1 1 5 2 ...
 $ MaxIndi                : chr  "Tokuyawa" "Ebony" "Cosmos" "Centaur" ...
 $ MaxGroup               : int  3 0 0 0 2 1 1 1 4 3 ...
 $ MaxGr                  : chr  "Tokuyawa" "Cosmos" "Cosmos" "Cosmos" ...
 $ MaxFundRaisers         : int  2 1 0 0 2 2 1 1 0 0 ...
 $ MaxFR                  : chr  "Tokuyawa" "Ebony" "Cosmos" "Cosmos" ...
 $ MaxVolunteer           : int  15 15 15 15 15 15 5 15 15 15 ...
 $ MaxVol                 : chr  "Tokuyawa" "Odyssey" "Cosmos" "Ebony" ...
 $ MinDonation            : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Min_Don                : chr  "Cosmos" "Cosmos" "Odyssey" "Cosmos" ...
 $ TotalDon               : int  18 10 6 2 16 11 8 5 16 8 ...
 $ Var1_part              : Factor w/ 3 levels "1","2","3": 1 2 1 2 2 1 1 1 3 2 ...
 $ Var2_part              : Factor w/ 3 levels "1","2","3": 1 2 1 1 2 2 2 1 1 1 ...
 $ Var3_part              : Factor w/ 3 levels "1","2","3": 1 2 1 1 1 1 1 1 2 1 ...
 $ Var4_part              : Factor w/ 3 levels "1","2","3": 3 1 1 1 2 2 2 2 1 1 ...
 $ Var5_part              : Factor w/ 3 levels "1","2","3": 1 1 2 1 2 1 2 2 1 1 ...
 $ Var1_part1             : num  1 0 1 0 0 1 1 1 0 0 ...
 $ Var1_part2             : num  0 1 0 1 1 0 0 0 0 1 ...
 $ Var1_part3             : num  0 0 0 0 0 0 0 0 1 0 ...
 $ Var2_part1             : num  1 0 1 1 0 0 0 1 1 1 ...
 $ Var2_part2             : num  0 1 0 0 1 1 1 0 0 0 ...
 $ Var2_part3             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ Var3_part1             : num  1 0 1 1 1 1 1 1 0 1 ...
 $ Var3_part2             : num  0 1 0 0 0 0 0 0 1 0 ...
 $ Var3_part3             : num  0 0 0 0 0 0 0 0 0 0 ...
 $ Var4_part1             : num  0 1 1 1 0 0 0 0 1 1 ...
 $ Var4_part2             : num  0 0 0 0 1 1 1 1 0 0 ...
 $ Var4_part3             : num  1 0 0 0 0 0 0 0 0 0 ...
 $ Var5_part1             : num  1 1 0 1 0 1 0 0 1 1 ...
 $ Var5_part2             : num  0 0 1 0 1 0 1 1 0 0 ...
 $ Var5_part3             : num  0 0 0 0 0 0 0 0 0 0 ...

In [98]:
table(data_combined$Centaur_rallies_indi)

    0     1     2     3     4     5     6     7     8     9    10    11    12
50854 11930  6447  3681  2337  1554  1144   870   605   459   358   275   209
   13    14    15    16    17    18    19    20    21
  166   135   105    75    58    21    25    20     8

In [99]:
write.csv(data_combined,file="data.combined1.csv",row.names = FALSE)

In [100]:
write.csv(data_combined[0:nrow(train),],file="train1.csv",row.names = FALSE)